body {
  font-family: 'Trebuchet MS''Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
background-color: teal;
}

h1 {
  color: goldenrod;
  text-align: center;
}

#message-el{
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

p{
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
} 
